/node_modules
/public/hot
/public/storage
/public/upload/images
/public/upload/file
/public/upload/videos
upload.zip
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
